html,
meta {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: #193629;
}
* {
  margin: 0;
  font-family: "Lato", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

.splash-bg {
  height: 100vh;
  width: 100%;
  background: url("../bgs/landing_page_image.webp") no-repeat center center
    fixed;

  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.shopping-bg {
  height: 100%;
  width: 100%;
  background: url("../bgs/bg_shopping.webp") repeat-y center center fixed;
  background-repeat: repeat;
  z-index: 0;
}

.nav-bar {
  text-decoration: none;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  color: white;
  height: 80px;
  background-color: #193629;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
}

.nav-bar.hide {
  transform: translateY(-100%);
}
.home {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: font-size 0.3s ease;
}
.plants {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: font-size 0.3s ease-in-out;
}

.home:hover {
  font-size: 1.8rem;
  transition: font-size 0.3s ease-in-out;
}

.plants:hover {
  font-size: 1.8rem;
  transition: font-size 0.3s ease-in-out;
}

p {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center-vert {
  display: flex;
  align-items: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-h1 {
  font-family: "Arial";
  font-size: 5rem;
  font-weight: 200;
  line-height: 1.1;
  color: rgb(224, 224, 224);
}

.button-1 {
  background: linear-gradient(135deg, #080c0d, #2d5a46);
  border: none;
  text-decoration: none;
  color: rgb(246, 246, 246);
  padding: 15px 40px;
  margin-top: 4rem;
  font-size: 1.8rem;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 0 1px 7px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-1:hover {
  background: linear-gradient(135deg, #080c0d, #2d5a46);
  transform: scale(1.1);
  box-shadow: 0 12px 20px rgba(255, 255, 255, 0.2);
}

.button-1:active {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
}

img {
  height: auto;
  width: inherit;
}

.item-box {
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1),
    2px 2px 2px 2px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: rgb(234, 234, 234);
  color: black;
}

.item-box button {
  margin: 1rem;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
}

.price-quantity {
  display: flex;
  height: 50%;

  flex-direction: column;
  justify-content: space-around;
}

.add-remove {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px;
}

.cart-icon {
  background: transparent;
  border: none;
  width: 100%;
  color: white;
  transition: scale 0.3s ease-in-out;
}

.cart-icon button:hover {
  scale: 110%;
  transition: scale 0.3s ease-in-out;
}
.cart-count {
  color: lightgreen;
  font-weight: 1000;
  font-size: 1rem;
  transition: scale 0.3s ease-in-out;
}

.cart-count:hover {
  scale: 110%;
}

.add-remove button {
  border-radius: 0px;
  background-color: rgb(246, 246, 246);
  color: black;
  border: none;
  border: 1px solid rgb(119, 119, 119);
  margin: 10px 5px 10px 5px;
}

.product-attr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-proceed button {
  padding: 10px;
  height: 30px;
  border: none;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.item-box button:disabled {
  background-color: rgb(164, 164, 164);
}

.item-box button:disabled:hover {
  background-color: rgb(164, 164, 164);
  border: 1px solid black;
}

.item-box button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: #2d5a46; /* Slightly lighter green for the animation */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: 1;
}

.item-box button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #2d5a46;
  border: 1px solid black;
  color: rgb(246, 246, 246);
}

.item-box button span {
  position: relative;
  z-index: 2;
}

.links {
  text-decoration: none;
  text-decoration-line: none;
  color: inherit;
}

.products-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.products-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.category-page {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  justify-self: center;
  margin-bottom: 3rem;
  text-align: center;
  z-index: 10;
}

.our-plants {
  margin: 4rem;
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.our-plants h1 {
  font-size: 5rem;
  margin: 1rem;
}

.our-plants p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1rem;
}

.page-description {
  text-align: center;
  z-index: 10;
  width: auto;
  display: flex;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.transparent-bg {
  background-color: transparent;
}

.page-description h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.products-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 10;
  color: rgb(246, 246, 246);
}

.products-outer {
  line-height: 2rem;
}

.category-page h2 {
  margin: 1rem;
}

.checkout-page-bg {
  height: 100%;
  width: 100%;
  background: url("../images/bg_checkout.webp") repeat-y center center fixed;
  background-repeat: repeat;
  z-index: 0;
}

.checkout-page {
  min-height: 100vh;
  height: fit-content;

  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  margin: 1rem;
}

.checkout-page-items {
  width: 30%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: rgb(246, 246, 246);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  justify-self: center;
  margin-bottom: 3rem;
  text-align: center;
}

.item-checkout {
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: rgb(41, 48, 43);
  margin: 2rem;
}

.item-checkout button {
  margin: 0.5rem;
  transition: all 0.3s ease;
}
.item-checkout hover {
  background-color: #2d5a46;
  transition: all 0.3s ease;
}

.empty-cart {
  display: flex;
  flex-direction: column;
}

.empty-cart-button {
  border-radius: 10px;
  text-decoration: none;
  text-decoration-line: none;
  background-color: rgb(246, 246, 246);
  color: black;
  border: none;
  border: 1px solid rgb(119, 119, 119);
  margin: 10px 5px 10px 5px;
  padding: 1.5rem;
  height: 30px;
  border: none;
  width: 100px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.empty-cart-button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #2d5a46;
  border: 1px solid black;
  color: rgb(246, 246, 246);
}

.submit {
  border-radius: 20px;
  height: 2rem;
  width: 6rem;
  background-color: rgb(246, 246, 246);
  color: rgb(0, 0, 0);
  border: none;
  border: 1px solid rgb(119, 119, 119);
  margin: 10px 5px 10px 5px;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.submit:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #2d5a46;
  border: 1px solid black;
  color: rgb(246, 246, 246);
}

.checkout-page-items h2 {
  margin: 4rem;
  font-size: 3rem;
}

.checkout-page-items p {
  margin: 1rem;
}
